* {
  margin: 0;
  padding: 0;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

/* Ajusta los z-index del menú y el título del menú según tus necesidades */
.sidebar {
  z-index: 1000; /* Valor alto para el menú */
}

.offcanvas-title {
  z-index: 1001; /* Valor aún más alto para el título del menú */
}

#logOutButtomAdmin {
  &:hover {
    background-color: rgb(179, 31, 26);
    color: #fff;
  }

  &:focus {
    background-color: rgb(229, 113, 114);
    color: #000;
  }
}
