:root {
  --color-c: rgb(229, 113, 114);
  --color-m: rgb(178, 53, 90);
  --color-y: rgb(115, 37, 109);
  --color-k: rgb(70, 36, 94);
}

@font-face {
  font-family: "Futura PT Bold";
  src: url("/font/FuturaPTBold.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Futura PT Bold", sans-serif;
}

.navbar-color {
  background-color: var(--color-m);
}

.nav-link {
  color: white;
}

.gradiente-header-nav {
  background-image: linear-gradient(to top, #b2355a, #c45f73, #d5848f, #e4a9ad, #f0cdce);
  /* background-image: linear-gradient(to bottom, #b2355a, #c26277, #cf8a95, #d9b0b6, #e0d7d8); */
}

.btn-rounded {
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
}

.btn-lg {
  font-size: 1.25rem;
  padding: 15px 30px;
}
