/* Cambiar el color del texto a blanco */
*{
  margin:0;
  padding:0;

}


.nav-link {
  color: white !important; /* !important se utiliza para asegurarse de que prevalezca sobre los estilos de Bootstrap */
}
/* Cambiar la fuente del texto */
.nav-link {
  font-family: 'Futura PT Bold', sans-serif; /* Reemplaza 'TuFuentePersonalizada' con la fuente que desees usar */
}

.container-fluid {
  font-family: 'Futura PT Bold', sans-serif; /* Reemplaza 'TuFuentePersonalizada' con la fuente que desees usar */
}

.navbar-nav li {
  margin-right: 2.5rem; /* Ajusta el valor según tu preferencia para el espacio entre elementos */
}

.Fuente {
  font-family: 'Futura PT Bold', sans-serif; /* Reemplaza 'TuFuentePersonalizada' con la fuente que desees usar */
}


.Boton-Redondeado {
  border-radius: 50px; /* Ajusta el valor para controlar la curvatura del óvalo */
  padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
  border: none; /* Elimina el borde si lo deseas */
}













@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



/*=================================================*/
/*===========PANTALLAS GRANDES=====================*/
/*Estilos para pantallas grandes (mayores de 768px)*/
@media (min-width: 769px) {
  /* CSS personalizado */
  .nav-link {
    font-size: 1.0rem; /* Tamaño de fuente deseado en píxeles ---cambiar por 20px---*/
  }

  /* CSS personalizado */
  .Fuente-contenedores-lema{
    font-size: 2.5rem; /* Tamaño de fuente deseado en píxeles ---cambiar por 20px---*/
  }

  .Fuente-contenedores {
    font-size: 1.5rem; /* Tamaño de fuente deseado en píxeles ---cambiar por 20px---*/
  }

  .Fuente-carousel {
    font-size: 3rem; /* Tamaño de fuente deseado en píxeles ---cambiar por 20px---*/
  }
  
  .Fuente-footer-titulo {
    font-size: 2rem; /* Tamaño de fuente deseado en píxeles ---cambiar por 20px---*/
  }
  
  .Fuente-footer-general {
    font-size: 1rem; /* Tamaño de fuente deseado en píxeles ---cambiar por 20px---*/
  }


  .Fuente-Titulos {
    font-size: 2.5rem;
  }

  .Fuente-Textos {
    font-size: 1rem;
  }

  .Fuente-Derechos {
    font-size: 0.7rem;
  }

}
/*=================================================*/


/*=================================================*/
/*===========PANTALLAS PEQUEÑAS====================*/
/* Estilos para pantallas pequeñas (768px o menos) */
@media (max-width: 768px) {
  .tu-clase {
    font-size: 16px; /* Tamaño de fuente para pantallas pequeñas */
  }

  .Fuente-contenedores {
    font-size: 0.5rem; /* Cambia el tamaño de fuente para pantallas más pequeñas */
  }

  .Fuente-contenedores-lema {
    font-size: 0.5rem; /* Cambia el tamaño de fuente para pantallas más pequeñas */
  }

  .Footer {
    font-size: 0.7rem;
  }

  .Footer-2 {
    font-size: 1rem;
  }

  .Fuente-Titulos {
    font-size: 1.3rem;
  }

  .Fuente-Textos {
    font-size: 0.5rem;
  }

  .Fuente-Derechos {
    font-size: 0.3rem;
  }
}
/*=================================================*/



@font-face {
  font-family: 'Futura PT Bold';
  src: url('../Futura/FuturaPTBold.otf') format('truetype');
  /* Otras fuentes compatibles */
}

@media (max-width: 767px) {
  .navbar-nav li {
    margin-right: 10px; /* Espacio reducido en dispositivos pequeños */
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
